<header>
  <h1>Depósito > Materiais<h1>
</header>
<main>
  <%= search_form_for @q do |f| %>
    <%= f.label :name_cont %>
    <%= f.search_field :name_cont %>
    <%= f.submit %>
  <% end %>
  <table style="width: 100%; margin-top: 20px;">
    <tr>
      <th style="width: 30%">Nome</th>
      <th style="width: 45%">Descrição</th>
      <th style="width: 10%">Quantidade</th>
      <th style="width: 15%">Ações</th>
    </tr>
    <% @materials.map do |material| %>
      <tr>
        <td><%= material.name %></td>
        <td><%= material.description %></td>
        <td><%= material.quantity %></td>
        <td>
          <div class="btn-group">
            <%= button_to "+", material_add_path(material.id), class: "btn btn-primary", method: :get %>
            <%= button_to "-", material_remove_path(material.id), class: "btn btn-secondary", method: :get %>
            <%= button_to "Log", material_log_path(material.id), class: "btn btn-warning", method: :get %>
            <%= button_to "Remover", material_destroy_path(material.id), class: "btn btn-danger", method: :delete %>
          </div>
        </td>
      </tr>
    <% end %>
  </table>
  
  <%= paginate @materials %>
</main>