<%= render 'header' %>

<main>
  <div class="card card-materials-index container">
    <div class="card-header">
      <div class="container">
        <div class="row d-flex align-items-center">
          <div class="col-sm-12 col-md-4 mt-2 d-flex">
            <h2 class="material-index-table-title">Materiais</h2>
            <%= button_to '+', new_material_path, class: "btn btn-secondary search-button-materials-index", method: :get %>
          </div>
          <div class="col-sm-12 col-md-8 ">
            <%= search_form_for @q do |f| %>
              <div class="container p-0">
                <div class="row search-field-materials-index">
                  <div class="col-3">
                    <%= f.label 'Pesquisa por nome' %>
                  </div>
                  <div class="col-7">
                    <%= f.search_field :name_cont, class: "form-control" %>
                  </div>
                  <div class=" col-2">
                    <%= f.submit 'Procurar', class: "btn btn-secondary search-button-materials-index"%>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <table class="table table-materials-index">
      <tr>
        <th style="width: 20%; padding-left: 28px;">Nome</th>
        <th style="width: 20%">Descrição</th>
        <th style="width: 10%">Quantidade</th>
        <th class="text-center" style="width: 50%; padding-right: 28px;">Ações</th>
      </tr>
      <% @materials.map do |material| %>
        <tr>
          <td style="padding-left: 28px"><%= material.name %></td>
          <td><%= material.description %></td>
          <td><%= material.quantity %></td>
          <td class="text-center">
            <div class="btn-group flex-wrap" style="padding-right: 28px;">
              <%= button_to "+", material_add_path(material.id), class: "btn btn-secondary search-button-materials-index", method: :get %>
              <%= button_to "-", material_remove_path(material.id), class: "btn btn-primary", method: :get %>
              <%= button_to "Log", material_log_path(material.id), class: "btn btn-warning", method: :get %>
              <%= button_to "Remover", material_destroy_path(material.id), class: "btn btn-danger", method: :delete %>
              <%= button_to "Editar", edit_material_path(material.id), class: "btn btn-secondary search-button-materials-index", method: :get %>
            </div>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
  
  <div class="index-paginate mt-4">
    <%= paginate @materials %>
  </div>
</main>