<header>
  <h1>Depósito > Materiais > Saída<h1>
</header>
<main>
  <%= form_with(model: @material, url: material_output_path(@material) ) do |f| %>
    <div class="form-group">
      <%= f.label 'Nome' %><br/>
      <%= f.text_field :name, class: "form-control", disabled: true %>
    </div>

    <div class="form-group">
      <%= f.label 'Quantidade' %><br/>
      <%= f.number_field :quantity, class: "form-control", value: 0, max: 0%>
    </div>

    <div class="form-group">
      <%= f.submit "Retirar", class: "btn btn-primary" %>
    </div>
  <% end %>
</main>